<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - EasyBilling</title>
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/css/bootstrap-material-design.min.css" />
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />*@
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/assets/css/docs.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<body>
    @RenderBody()

    <script src="~/lib/bootstrap-material-design/assets/js/vendor/split.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap-material-design/js/bootstrap-material-design.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/vendor/anchor.min.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/vendor/clipboard.min.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/vendor/holder.min.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/src/application.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/lib/bootstrap-material-design/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>