@model EasyBilling.Models.Pocos.Tariff

<input asp-for="Id" type="hidden" class="form-control" />

<div class="form-group">
    <label asp-for="Name" class="text-info"></label>
    <input asp-for="Name" type="text" class="form-control" required />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mb-2 form-row border p-2">
    <div class="col">
        <div class="form-group">
            <label asp-for="Price" class="text-info"></label>
            <input asp-for="Price" class="form-control" min="0" step="0.01" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label asp-for="AmounfOfDays" class="text-info"></label>
            <input asp-for="AmounfOfDays" class="form-control" min="0" max="31" />
            <span asp-validation-for="AmounfOfDays" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="mb-3 form-row">
    <div class="col border p-2 mr-1">
        <label class="pl-1 text-muted col-form-label-sm">Пропускная способность (Кбит/c)</label>
        <div class="m-0 row justify-content-between">
            <div class="form-group col-md-5">
                <label asp-for="BandwidthInput" class="pl-3 text-info"></label>
                <input asp-for="BandwidthInput" class="form-control" min="100" max="100000" step="100" required />
            </div>
            <div class="form-group col-md-5">
                <label asp-for="BandwidthOutput" class="pl-3 text-info"></label>
                <input asp-for="BandwidthOutput" class="form-control" min="100" max="100000" step="100" required />
            </div>
        </div>
        <span asp-validation-for="BandwidthInput" class="text-danger"></span>
        <span asp-validation-for="BandwidthOutput" class="text-danger"></span>
    </div>
    <div class="col border p-2 ml-1">
        <div class="form-group">
            <label asp-for="AmountOfTraffic" class="text-info"></label>
            <input asp-for="AmountOfTraffic" class="form-control" min="0" step="100" />
            <span asp-validation-for="AmountOfTraffic" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="m-0 pr-5 form-group row justify-content-center">
    <div class="switch">
        <label class="form-check-label">
            Не показывать у клиента
        </label>
        <label class="form-check-label">
            @{
                string chk = (Model.IsPublish) ? "checked" : "";
                <input class="form-control" type="checkbox" asp-for="IsPublish" chk />
            }
            Показывать у клиента
        </label>
        <span asp-validation-for="IsPublish" class="text-danger"></span>
    </div>
</div>

<div class="m-0 pr-5 form-group row justify-content-center">
    <div class="switch">
        <label class="form-check-label">
            Выключен
        </label>
        <label class="form-check-label">
            @{
                string chkE = (Model.IsEnabled) ? "checked" : "";
                <input class="form-control" type="checkbox" asp-for="IsEnabled" chkE />
            }
            Включен
        </label>
        <span asp-validation-for="IsEnabled" class="text-danger"></span>
    </div>
</div>